{% extends "layout.html" %}


{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        questionsPlayed = JSON.parse('{{ questionsPlayed | tojson }}');
        if (questionsPlayed.length > 0) {
            for (let i = 0; i < questionsPlayed.length; i++) {
                disableButtons(questionsPlayed[i]);
            }
        };

        if (questionsPlayed.length >= 2) {
            document.querySelector('#round4').style.visibility = "visible";
        }


        function disableButtons(question) {
            element = document.getElementById(question);
            element.classList.add("disabled");
        }
    });
</script>

{% endblock %}


{% block main %}

<div class="container">
    <div class="row text-center"><h1>Round 3: The Connecting Wall</h1></div>
    <div class="row">
        <div class="col text-center"><h3>{{ teams[0]["name"] }}: {{teams[0]["score"] }}</h3></div>
        <div class="col text-center"><h3>{{ teams[1]["name"] }}: {{teams[1]["score"] }}</h3></div>
    </div>
    <div class="row text-center"><h5>{{ teams[currentTeam]["name"] }}, please choose a hieroglyph.</h5></div>
</div>


<div class="container">
    <div class="puzzle-button-container center">
        <div class="col text-center"><a class="btn btn-primary btn-lg center" style="display:flex; visibility:hidden" href="round1tworeeds" id="TwoReeds">&#78284;</a></div>
        <div class="col text-center"><a class="btn btn-primary btn-lg center" style="display:flex" href="round3lion" id="Lion">&#78061;</a></div>
        <div class="col text-center"><a class="btn btn-primary btn-lg center" style="display:flex; visibility:hidden" href="round1twistedflax" id="TwistedFlax">&#78747;</a></div>
        <div class="col text-center"><a class="btn btn-primary btn-lg center" style="display:flex; visibility:hidden" href="round1hornedviper" id="HornedViper">&#78225;</a></div>
        <div class="col text-center"><a class="btn btn-primary btn-lg center" style="display:flex" href="round3water" id="Water">&#78359;</a></div>
        <div class="col text-center"><a class="btn btn-primary btn-lg center" style="display:flex; visibility:hidden" href="round1eyeofhorus" id="EyeOfHorus">&#77952;</a></div>
        <a class="btn btn-primary btn-lg proceed-button" href="round4" style="visibility: hidden; grid-area" id="round4">Proceed to the Missing Vowels Round</a>
    </div>
</div>

{% endblock %}